.quote-total-result-count {
  padding: 5px 1rem 6px;
  margin: 0 auto 2rem;
  width: calc(100% - 16px);
  font-family: var(--quote-font-family);
  color: var(--base-text-color);
  font-size: 0.9rem;
}
